{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<p class="measure lh-copy">
  So you're starting a new Django project? You've come to the right
  place! This project template aims at making your start as quick and
  painless as possible so you can start writing your application instead
  of the boilerplate. Settings, basic templates, authentication, and
  authorization have all been implemented and tested so you can hit the
  ground running.
</p>

<ul class="list pl0">

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Latest and Greatest Django</b>
    <span class="f5 db lh-copy measure">
      Start with 1.11 to take advantage of all that Django has to offer.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Python 3</b>
    <span class="f5 db lh-copy measure">
      Out with the old and in with the future of Python!
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Translation-Ready</b>
    <span class="f5 db lh-copy measure">
      All text is translatable so your application can go international.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Authentication and Authorization</b>
    <span class="f5 db lh-copy measure">
      From logging in to managing user permissions, this boilerplate gives
      you a strong start for a full-featured web UI. Use user
      groups, user profiles, and user avatars to personalize your
      application.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Frontend Build System</b>
    <span class="f5 db lh-copy measure">
      Taking advantage of Webpack, you can compile your static assets for
      development and production builds as well as running live reload to
      watch for changes to your Javascript and CSS files.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Django Development Tools</b>
    <span class="f5 db lh-copy measure">
      Tools such as django-debug-toolbar, django-extensions, and bpython
      are preinstalled to make tracking down bugs and performance issues
      much easier on you.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Fully Tested</b>
    <span class="f5 db lh-copy measure">
      Pytest and coverage are configured with basic tests written to
      ensure when you start a new project it is 100% tested.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">CSS With Tachyons</b>
    <span class="f5 db lh-copy measure">
      Tachyons CSS is a next-level modular CSS framework allowing you to
      create explicit style from class names.
    </span>
  </li>

  <li class="pt3 pb3 measure">
    <b class="db f3 mb1">Deployment-Ready</b>
    <span class="f5 db lh-copy measure">
      Deployment via Docker or directly to a server is one-step away with
      the config files and instructions ready to go.
    </span>
  </li>

</ul>
{% endblock content %}
